@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*
		https://tailwindcss.com/docs/customizing-colors
	*/
  --primary: #171717; /* neutral-900 */
  --secondary: #262626; /* neutral-800 */
  --tertiary: #404040; /* neutral-700 */
  --color-primary: #f3f3f3;
  --color-secondary: #999999;
  --accent-primary: #2563eb; /* blue-600 */
  --accent-primary-state: #1e40af; /* blue-800 */
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  @apply text-color-primary bg-primary;
}

#__next {
  @apply flex items-center justify-center;
}
